.mood-create-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 90%;
  // bottom: -95%;
  bottom: 0;
  background-color: aquamarine;
  transition: bottom  .2s ease-in;
  transition-delay: .1s;
  z-index: 100000;
}

.mood-create-container.show {
  bottom: 0;
  // transform: scaleX(1.1);
}